/* This contains all the miscellaneous CSS, outside of Bootstrap,
 * pygments, scribble, etc. */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the
 * line numbers column's rows not lining up with the code rows. Prevent
 * wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

/* That text field is weird, and the Bootstrap form controls don't
 * really do what I want them to. */
#search-input {
	border-radius: 5px;
	width: 15em;
	margin-top: 10px;
}

