/* **************************************************************
 * This contains all the miscellaneous CSS, outside of Bootstrap,
 * pygments, scribble, etc. 
 * **************************************************************
 * */


code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the
 * line numbers column's rows not lining up with the code rows. Prevent
 * wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

/* That text field is weird, and the Bootstrap form controls don't
 * really do what I want them to. */
#search-input {
	border-radius: 5px;
	width: 15em;
	margin-top: 10px;
}

/* The "read more" link causes images that are floated in the post to 'break
 * into' other post summaries.
 */
article {
	clear: both;
}



/* Footer stuff */
#page-footer {
	text-align: center;
}
#page-footer ul, #page-footer ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#page-footer a {
	text-decoration: none;
	font-weight: bold;
}
#page-footer a:hover {
	text-decoration: underline;
}
#page-footer table {
	margin: 15px auto;
}
