/* **************************************************************
 * This contains all the site-specific CSS, outside of Bootstrap,
 * pygments, scribble, and other third-party libs.
 *
 * We also use this as a main entry-point, such as for consolidation,
 * RequireJS optimization, etc.
 * **************************************************************
 */

@import url('/css/lora.css');
@import url('/css/bootstrap.css');
@import url('/css/pygments.css');
@import url('/css/scribble.css');

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the
 * line numbers column's rows not lining up with the code rows. Prevent
 * wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

/* That text field is weird, and the Bootstrap form controls don't
 * really do what I want them to. */
#search-input {
	border-radius: 5px;
	width: 15em;
	margin-top: 10px;
}

/* The "read more" link causes images that are floated in the post to 'break
 * into' other post summaries.
 */
article {
	clear: both;
}



/* Footer stuff */
#page-footer {
	text-align: center;
	color: #D5B472;
	background-color: #5A3C00;
}
#page-footer ul, #page-footer ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#page-footer a {
	text-decoration: none;
	font-weight: bold;
	color: #986500;
}
#page-footer a:hover {
	text-decoration: underline;
}
#page-footer table {
	margin: 15px auto;
}


/* Try to override what we know exists in that dreaded minified file.
 */
.jumbotron {
	background-color: #D5B472;
	color: #5A3C00;
}
a, h1 a, h2 a, h3 a, h4 a, h5 a, h1, h2, h3, h4, h5 {
	color: #986500;
}
a:visited {
	color: #6C521F;
}

.navbar,
.navbar a,
.navbar a:visited,
.navbar ul li a,
.navbar ul li a:visited,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > li > a:visited {
	color: #D5B472;
	background-color: #5A3C00;
}

.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #6C521F;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #6C521F;
}

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5 {
    text-align: center;
}
