<?xml version="1.0" encoding="utf-8"?> 
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">

 <title type="text">{{index_title}}</title>
 <link rel="self" href="{{rss_feed_uri}}" />
 <link href="{{full_uri}}" />
 <id>urn:https-morepablo-com:-index-html</id>
 <updated>{{build_date}}</updated>

 {% for post in posts %}
 <entry>
  <title type="text">{{post.title}}</title>
  <link rel="alternate" href="{{post.url}}?utm_source=all&amp;utm_medium=Atom" />
  <id>urn:https-morepablo-com:-2018-02-meetings-baby-html</id>
  <published>{{post.published}}</published>
  <updated>{{post.published}}</updated>
  <author>
   <name>{{author}}</name>
  </author>
  <content type="html">
    {{post.content}}
  </content>
 </entry>
 {% endfor %}

</feed>
