<?xml version="1.0" encoding="utf-8"?> 
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
 <title type="text">{{index_title}}</title>
 <link rel="self" href="{{full_atom_uri}}" />
 <link href="{{full_uri}}" />
 <id>{{id}}</id>
 <updated>{{build_date}}</updated>
 {% for post in posts %}
 <entry>
  <title type="text">{{post.title}}</title>
  <link rel="alternate" href="{{post.full_url}}?utm_source=all&amp;utm_medium=Atom" />
  <id>{{post.id}}</id>
  <published>{{post.publish_date_iso}}</published>
  <updated>{{post.publish_date_iso}}</updated>
  <author>
   <name>{{author}}</name>
  </author>
  <content type="html">
    {{post.content}}
  </content>
 </entry>
 {% endfor %}
</feed>
