{% extends "./templates/base.tmpl" %}

{% block header %}
    <title>{{title}}</title>
    <meta name="author" content="{{author}}">
    <meta name="keywords" content="Pablo Meier, {{keywords_list}}">

    <meta name="description" content="{{description_abridged}}">
    <meta property="og:description" content="{{og_description}}">

    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="{{og_image}}">

    <meta property="og:url" content="{{full_uri}}">
    <link rel="canonical" href="{{full_uri}}">

    <meta property="og:type" content="article">
    <link ref="alternate" type="application/rss+xml" href="{{rss_feed_uri}}" title="RSS Feed">
{% endblock %}

{% block main %}
  <article>
    {{content | safe}}
  </article>
{% endblock %}
