
.main-photo, .main-photo img, .main-photo a {
    width: 228px;
    padding: 0;
    margin-left: -2px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.prev-photo {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 244px;
    width: 45px;
}

.next-photo {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 244px;
    width: 45px;
}

/* Flavor text is what is at the bottom of the widget, between the buttons. */
.flavor {
    font-weight: bold;
    font-size: 1.2em;
}
